<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
  </head>
  <body>
    <h1>Welcome to the Sandwich Shop!</h1>
    <h2>Menu</h2>
    <h3>Sandwiches</h3>
    <ul>
      {{range $sandwich := .Menu}}
      <li>{{$sandwich.MenuItem.Name}} (${{$sandwich.MenuItem.Price}}):</li>
      <p>
        This sandwich has
        {{range $meat := $sandwich.Meats}}
        {{$meat.Name}},
        {{end}}
        {{range $cheese := $sandwich.Cheeses}}
        {{$cheese.Name}},
        {{end}}
        topped with
        {{range $topping := $sandwich.Toppings}}
        {{$topping.Name}},
        {{end}}
        all between two slices of {{$sandwich.Bread.Name}}
      </p>
      {{end}}
    </ul>

    <h3>Extras</h3>
    <ul>
      {{range $ingredient := .Ingredients}}
      <li>{{$ingredient.Name}} (${{$ingredient.Price}})</li>
      {{end}}
    </ul>
  </body>
</html>
