<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Order a Sandwich</title>
  </head>
  <body>
    <form action="/clerk/purchase" method="POST">
      <h3>Sandwich ID:</h3>
      {{if .Menu}}
      <select name="item">
        {{range $element := .Sandwiches}}
          <option value="{{$element.ID}}">{{$element.Name}} (${{$element.Price}})</option>
        {{end}}
      </select>
      {{else}}
      No menu available
      {{end}}
      <br><br>
      <h3>Extra Ingredients IDs:</h3>
      {{if .Ingredients}}
      {{range $element := .Extras}}
      <input type="checkbox" name="extras[{{$element.ID}}]" value="{{$element.ID}}"> {{$element.Name}} (${{$element.Price}})<br>
      {{end}}
      {{else}}
      No Ingredients available
      {{end}}
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
